<% include header %>
<!doctype html>
    <div class="jumbotron">
        <h1 class="display-3">Chi Tiết sản phẩm</h1>
        <p class="lead">Jumbo helper text</p>
        <hr class="my-2">
        <p>More info</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Jumbo action name</a>
        </p>
    </div>
    <div class="jumbotron text-center">
        <h1 class="display-3">Sản Phẩm Đã Xem</h1>
        <hr class="my-2">
        <% if(productShow){ %>
            <div class="row">
                <% productShow.forEach(function(id){ %>
                    <% data.forEach(function(i){ %>
                        <% if(id==i._id){ %>
                            <% if(idsanpham){ %>
                                <% if(idsanpham!=i._id){  %>
                                <div class="col-md-4">
                                <div class="card text-white bg-primary">
                                    <a href="<%= base_url %>chi-tiet/<%= i._id  %>"><img class="card-img-top" src="<%=base_url%>images/<%= i.images %>" alt=""></a>
                                    <div class="card-body">
                                    <h4 class="card-title"><%= i.title %></h4>
                                    <p class="card-text"><%= i.description %></p>
                                    </div>
                                    <div class="card-footer ">
                                        <div class="left pull-left">
                                        <a href="<%= base_url %>edit/<%= i._id %>"><i class="fa fa-pencil-square-o"> Sửa</i></a>
                                        </div>
                                        <div class="right pull-right">
                                            <a href="<%= base_url %>delete/<%= i._id %>"><i class="fa fa-remove"> Xóa</i></a>
                                        </div>
                                    </div>
                                </div>
                                <!-- col-4 -->
                                </div>
                            <% }}else{ %>
                                <div class="col-md-4">
                                    <div class="card text-white bg-primary">
                                        <a href="<%= base_url %>chi-tiet/<%= i._id  %>"><img class="card-img-top" src="<%=base_url%>images/<%= i.images %>" alt=""></a>
                                        <div class="card-body">
                                        <h4 class="card-title"><%= i.title %></h4>
                                        <p class="card-text"><%= i.description %></p>
                                        </div>
                                        <div class="card-footer ">
                                            <div class="left pull-left">
                                            <a href="<%= base_url %>edit/<%= i._id %>"><i class="fa fa-pencil-square-o"> Sửa</i></a>
                                            </div>
                                            <div class="right pull-right">
                                                <a href="<%= base_url %>delete/<%= i._id %>"><i class="fa fa-remove"> Xóa</i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- col-4 -->
                                </div>
                            <% } %>
                        <% } %>
                    <% }) %>
                <% }) %>
              </div>
        <% } %>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>
</html>